name: flutter_genui_slide
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_deck: ^0.22.0
  gap: ^3.0.1
  genui: ^0.5.1
  genui_google_generative_ai: ^0.5.1
  json_schema_builder: ^0.1.3
  webview_flutter: ^4.13.0
  webview_flutter_web: ^0.2.3+4
  webview_flutter_platform_interface: ^2.14.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true
  assets:
    - assets/icon.jpeg
    - assets/genui-readme.png
    - assets/build-flutter-in-gemini.png
    - assets/catalog-item.png
    - assets/genui-conversation.png
    - assets/surface-management.png
    - assets/surface-ui.png
    - assets/release-genui.png
    - assets/officially_recommended_slide.png
    - assets/getting_started_movie.png
